@import "../../scss/settings/colors";
@import "../../scss/settings/fonts";

div.home_help {
  div.three_boxes{
    display: flex;
    justify-content: center;
    div{
      width: 10%;
      padding: 2rem;
      margin: 3rem;
      border: 1px solid black;
      font-family: $font-base;
    }
  }
  p{
    font-family: $font-alt;
    font-size: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  ul#page-numbers {
    list-style: none;
    display: flex;
    justify-content: center;
    font-family: $font-base;
    padding: 1rem;
    li {
      color: blue;
      user-select: none;
      cursor: pointer;
      font-family: $font-base;
      border: 1px solid black;
      padding: 1rem;
      margin: 1rem;
    }
  }
}




div.foundation{
  display: flex;
  justify-content: center;
  div.foundation__name{
    width: 70%;
    float: left;
    h3{
      font-family: $font-alt;
      font-size: 1.5rem;
      color: $darkColor;
    }
    p{
      font-size: 0.8rem;
      font-family: $font-alt;
      color: $darkColor;
    }
  }
  div.needs{
    width: 50%;
    float: right;
    p{
      font-size: 1rem;
      font-family: $font-alt;
      color: $darkColor;
    }
  }
}
div.line{
  margin-bottom: 1rem;
  margin-left: 15rem;
  height: 2px;
  width: 70%;
  background-color: #3C3C3C;
}