@import "../../scss/settings/colors";
@import "../../scss/settings/fonts";

section.home_contact{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-position: left;
  background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,.8)), url("../../assets/assets/Background-Contact-Form.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  button {
    margin-left: 22rem;
  }
  div.contact{
    padding:  0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    form{
      padding-top: 2rem;
      margin-right: 6rem;
      display: flex;
      width: 30%;
      div{
        margin-right: 1rem;
        label{
          padding-right: 2rem;
          font-family: $font-alt;
          color: black;
          font-size: 0.6rem;
        }
        input{
          padding-top: 1rem;
          border: none;
          border-bottom: 2px solid grey;
          background-color: snow;

        }
      }
    }
    div.text_area{
      display: flex;
      flex-direction: column;
      padding-top: 2rem;
      padding-left: 2rem;
      label{
        font-family: $font-alt;
        color: black;
        font-size: 0.6rem;
        padding-right: 11rem;
      }
      textarea{
        border: none;
        border-bottom: 1px solid grey;
        background-color: snow;
      }
    }
    input.submit{
      background-color: snow;
      border: 1px solid grey;
      padding: 1rem;
      margin: 1rem;
      border-radius: 1rem;
    }
  }
}
footer{
  P{
    display: flex;
    justify-content: center;
    padding-left: 38rem;
    font-family: $font-base;
    i.face{
      margin-left: 35rem;
    }
    i.insta{
      padding-left: 2rem;
    }
  }
}