@import "../../scss/settings/colors";
@import "../../scss/settings/fonts";

nav {
  div.accounts {
    display: flex;
    justify-content: flex-end;
    padding-top: 2rem;
    padding-right: 3rem;

    div.loginAccount {
      padding: 0.5rem;
      margin: 0.5rem;
      font-size: 0.8rem;

      a {
        text-decoration: none;
        font-family: $font-base;
        color: $greyColor;
      }
    }

    div.registerAccount {
      padding: 0.5rem;
      margin: 0.5rem;
      font-size: 0.8rem;
      border: 1px solid $bgdColor;

      a {
        text-decoration: none;
        font-family: $font-base;
        color: $greyColor;
      }
    }

    div:hover {
      border: 0.05rem solid $bgdColor;
      background-color: $bgdColor;
    }
  }

  ul.homeMenu {
    display: flex;
    justify-content: flex-end;
    padding-right: 3rem;

    li {
      font-family: $font-base;
      color: $darkColor;
      padding: 0.5rem;
      margin: 0.5rem;
      border: 1px solid white;
    }

    li:hover {
      border: 0.05rem solid $darkColor;
    }
  }
}